}
  overflow-y: auto !important;
  max-height: 120px !important;
.country-list {
/* Global override for react-phone-input-2 */

}
  overflow-y: auto !important;
  max-height: 120px !important;
.react-tel-input .country-list {
/* Additional targeting for react-phone-input-2 */

}
  overflow-y: auto !important;
  max-height: 120px !important;
.phone-input-v2 .country-list {
/* react-phone-input-2 dropdown height control */